.page.theme_dark {
  --accent-font-color: #ff0070;
  --accent-background-color: #ff0070;
    /* fixed */
  --accent-color-opacity: #ff007066;
  --main-font-color: #f1b2ce;
  --sub-font-color: #000028;
  --background-color: #000028;
  --main-title-color: #db00ff;

  --text-shadow: 2px 2px 0 var(--accent-font-color, #ff0070);
  --text-shadow-x2: 4px 4px 0 var(--accent-font-color, #ff0070);

  --page-background-image: url(../../images/cover-image-dark.png);

  --decor-element-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
  --accent-font-color: #ff0070;
  --accent-background-color: #ff0070;
    /* fixed */
  --accent-color-opacity: #ff007066;
  --main-font-color: #f1b2ce;
  --sub-font-color: #000028;
  --background-color: #000028;
  --main-title-color: #db00ff;

  --text-shadow: 2px 2px 0 var(--accent-font-color, #ff0070);
  --text-shadow-x2: 4px 4px 0 var(--accent-font-color, #ff0070);

  --page-background-image: url(../../images/cover-image-dark.png);

  --decor-element-visibility: visible;
  }
}