.page.theme_light {
  --accent-font-color: #353430;
  --accent-background-color: #ff8dcb;
  --accent-color-opacity: #32312d66;
  --main-font-color: #353430;
  --sub-font-color: #353430;
  --background-color: #fff1f7;
  --main-title-color: #ffc2E6;

  --text-shadow: 2px 2px 0 var(--accent-background-color, #ff8dcb);
  --text-shadow-x2: 4px 4px 0 var(--accent-background-color, #ff8dcb);

  --page-background-image: url(../../images/cover-image-light.png);

  --decor-element-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-font-color: #353430;
  --accent-background-color: #ff8dcb;
  --accent-color-opacity: #32312d66;
  --main-font-color: #353430;
  --sub-font-color: #353430;
  --background-color: #fff1f7;
  --main-title-color: #ffc2E6;

  --text-shadow: 2px 2px 0 var(--accent-background-color, #ff8dcb);
  --text-shadow-x2: 4px 4px 0 var(--accent-background-color, #ff8dcb);

  --page-background-image: url(../../images/cover-image-light.png);

  --decor-element-visibility: hidden;
  }
}